.popup__button-save {
  width: calc(35800% / 430);
  margin: 11.2% 0 8.6% 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  border: none;
}
@media all and (max-width: 767px) {
  .popup__button-save {
    margin: 45px 0 25px 0;
  }
}
