.popup__button-save {
  max-width: 100%;
  width: 100%;
  margin: 48px 0 0 0;
  display: flex;
  justify-content: center;
  background-color: black;
  box-sizing: border-box;
  padding: 14px 0 18px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
}
.popup__button-save:hover {
  opacity: 0.8;
}
@media all and (max-width: 620px) {
  .popup__button-save {
    margin: 45px 0 0 0;
    padding: 14px 0;
    font-size: 2.8rem;
    line-height: calc(17 / 14);
  }
}
