.popup__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr max-content 1fr;
}
@media all and (max-width: 620px) {
  .popup__container {
    grid-template-columns: 1fr minmax(max-content, calc(100% - 40px)) 1fr;
  }
}
