.profile__subtitle {
  margin: 0;
  padding: 16px 0 0 0;
  grid-column: 1 / -1;
  grid-row: 2;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  width: 100%;
  box-sizing: border-box;

}
@media all and (max-width: 620px) {
  .profile__subtitle {
    margin: 0 auto auto 0;
    padding: 14px 0 0 0;
    font-size: 14px;
    line-height: calc(17 / 14);
    text-align: center;
  }
}
