.profile__vector-edit {
  margin: 7px 0 7px 0;
  width: calc(1000% / 24);
  color: white;
}
@media all and (max-width: 767px) {
  .profile__vector-edit {
    width: calc(750% / 18);
    margin: 4.25px 0 4.25px 0;
  }
}
