.popup__button-text {
  margin: 14px 0 18px 0;
  padding: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vw;
  line-height: calc(22 / 18);
  color: white;
}
@media all and (max-width: 767px) {
  .popup__button-text {
    margin: 6.3% 0;
    font-size: 4.4vw;
    line-height: calc(17 / 14);
  }
}
