.profile__info {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-items: left;
  align-items: center;
  max-width: calc(33600% /880);
  width: 100%;
  margin-right: auto;
  color: white;
}
@media all and (max-width: 620px) {
.profile__info {
  margin: 22px 0 0;
  max-width: 100%;
  width: 100%;
}
}
