.footer {
  width: calc(88000% / 1280);
  margin: 67px 0 60px 0;
  text-align: left;
  color: #545454;
}
@media all and (max-width: 767px) {
  .footer {
    margin: 48px 0 36px 0;
    width: calc(28200% / 320);
  }
}

