.popup__title {
  max-width: 100%;
  width: 100%;
  margin: 34px 0 0 0;
  padding: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);
  text-align: left;
}
@media all and (max-width: 620px) {
  .popup__title {
    margin: 25px 0 0 0;
    font-size: 3.6rem;
    line-height: calc(22 / 18);
  }
}
