.popup__field {
  width: calc(35800% / 430);
  margin: 7% 0 0 0;
  padding: 0 0 13px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: calc(17 / 14);
  box-sizing: border-box;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.popup__field:first-of-type {
  margin-top: 12.6%;
}
@media all and (max-width: 767px) {
  .popup__field {
    font-size: 4.4vw;
    margin: 10.7% 0 0 0;
  }
  .popup__field:first-of-type {
    margin-top: 26.6%;
  }
}
